@page

@using global::Shared

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="p-5 mb-4 bg-body-tertiary rounded-4 background">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">Demonstration Site</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Maecenas mattis. Nulla facilisi.</p>
        <button class="btn btn-primary btn-lg" type="button">Hero button</button>
    </div>
</div>

<h6 class="border-bottom border-secondary">
    Realm List
</h6>

@foreach (var realm in Model.Realms)
{
    <div class="p-2 border rounded bg-body-tertiary">
        <div class="row">

            <div class="col-6">
                <h2>
                    <i class="fa-solid fa-layer-group"></i>
                    @realm.Name
                </h2>

                @if (realm.State == Enums.WorldState.Closed)
                {
                    <i class="fas fa-ban text-danger"></i>
                }

                @if (realm.State == Enums.WorldState.Available)
                {
                    <i class="fas fa-check-circle text-success"></i>
                }

                @if (realm.State == Enums.WorldState.Offline)
                {
                    <i class="fas fa-power-off text-secondary"></i>
                }

                @realm.State
            </div>

            <div class="col-6">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped" style="width: @(realm.RealmUsage)%">@realm.CurrentUsers / @realm.MaxUsers</div>
                </div>
            </div>

        </div>
    </div>
}